<extend name="default:base:base" />
<block name="page_container_dashboard">
    <div class="portlet-body">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">用户组</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet-body">
                        <div class="clearfix">
                            <p>
                                <a href="{:U('add')}" class="btn green"><i class="icon-plus"></i> 增加</a>
                            </p>
                        </div>
                        <table class="table table-striped table-out-bordered table-condensed table-hover" id="user_groups_table">
                            <thead class="thead-bgcolor">
                            <tr>
                                <th class="th5 hidden">
                                    <input type="checkbox" class="hidden group-checkable" data-set="#user_groups_table .checkboxes" />
                                </th>
                                <th class="th50">#</th>
                                <th class="hidden-480 th80">组名</th>
                                <th class="hidden-480">组描述</th>
                                <th class="hidden-480 th50">状态</th>
                                <th class="th250">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="groupList" item="group">
                                <tr class="odd gradeX">
                                    <td class="hidden"><input type="checkbox" class="checkboxes" value="1" /></td>
                                    <td>{$group.id}</td>
                                    <td class="hidden-480">{$group.title}</td>
                                    <td class="hidden-480">{$group.description}</td>
                                    <td class="center hidden-480">
                                        <if condition="$group.status gt 0">
                                            <span class="label label-success">启用</span>
                                            <else/>
                                            <span class="label label-inverse">禁用</span>
                                        </if>
                                    </td>
                                    <td>
                                        <a href="{:U('priv?id='.$group['id'])}" class="mini"><i class="icon-magic"></i> 权限管理</a>
                                        <!--<a href="{:U('user?id='.$group['id'])}" class="mini"><i class="icon-user"></i> 成员管理</a>-->
                                        <a href="{:U('edit?id='.$group['id'])}" class="mini"><i class="icon-pencil"></i> 修改</a>
                                        <!--<button type="button" class="btn red">删除</button>-->
                                        <a class="confirm ajax-get mini" data-target="#user_groups_table" url="{:U('del?id='.$group['id'])}" >
                                            <i class="icon-trash"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!--END TABS-->
    </div>
    <!--</div>-->
</block>

<block name="page-level-js">
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/assets/{$Think.config.DEFAULT_THEME}/js/DT_bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/app.js"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</block>
