<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>爱都来－用户中心</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- Loading Bootstrap -->
    <link href="/static/passport/plat-ui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/static/passport/plat-ui/css/flat-ui.min.css" rel="stylesheet">
    <!--<link href="/static/passport/plat-ui/css/demo.css" rel="stylesheet">-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/static/passport/plat-ui/js/vendor/html5shiv.js"></script>
    <script src="/static/passport/plat-ui/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link href="/static/passport/plat-ui/css/style.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <!--<div class="container top">-->
    <div class="container">
        <a href="http://www.idoulai.com/">
            <img src="/static/passport/plat-ui/img/logo.png" alt="爱都来">
        </a></div>
</div>
<div class="row m-box">
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">用户注册</a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="container">
        <p class="products"><a href="">都来学</a> | <a href="">都来买</a> | <a href="">都来贷</a></p>
        <hr/>
        <p class="links">
            <a href="">关于我们</a>
            <a href="">联系我们</a>
            <a href="" >人才招聘</a>
            <a href="">广告服务</a>
            <a href="">友情链接</a>
        </p>
        <p>Copyright©2015-2016 爱都来idoulai.com 版权所有</p>
    </div>
</div>
</body>
</html>