<block name="footer">
    <div class="footer">
        <div class="container">
            <p class="products"><a href="">都来学</a> | <a href="">都来买</a> | <a href="">都来贷</a></p>
            <hr/>
            <p class="links">
                <a href="">关于我们</a>
                <a href="">联系我们</a>
                <a href="" >人才招聘</a>
                <a href="">广告服务</a>
                <a href="">友情链接</a>
            </p>
            <p>Copyright©2015-2016 爱都来idoulai.com 版权所有</p>
        </div>
    </div>
</block>
<script src="/static/passport/plat-ui/js/vendor/jquery.min.js"></script>
<script src="/static/passport/plat-ui/js/flat-ui.min.js"></script>
<script src="/static/passport/plat-ui/js/application.js"></script>
</body>
</html>