<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$siteAppName}－{$pageTitle}</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- Loading Bootstrap -->
    <link href="/static/passport/plat-ui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/static/passport/plat-ui/css/flat-ui.min.css" rel="stylesheet">
    <!--<link href="/static/passport/plat-ui/css/demo.css" rel="stylesheet">-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/static/passport/plat-ui/js/vendor/html5shiv.js"></script>
    <script src="/static/passport/plat-ui/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link href="/static/passport/plat-ui/css/style.css" rel="stylesheet">
</head>
<body>
<block name="header">
    <div class="header">
        <div class="container">
            <a href="{$siteDomain}">
                <img src="/static/passport/plat-ui/img/logo.png" alt="{$siteAppName}">
            </a>
        </div>
    </div>
</block>
