<extend name="default:base:base" />
<block name="page-level-styles">
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/assets/{$Think.config.DEFAULT_THEME}/js/ajaxupload/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/bootstrap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/excanvas.min.js"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.uniform.min.js" type="text/javascript" ></script>
    <script type="text/javascript" src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.toggle.buttons.js"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/{$Think.config.DEFAULT_THEME}/js/common/validate.js"></script>
    <!-- END PAGE LEVEL STYLES -->

    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/ajaxupload/js/plugins/canvas-to-blob.min.js" type = "text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/ajaxupload/js/fileinput.min.js" type = "text/javascript"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/ajaxupload/js/fileinput_locale_zh.js"></script>
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/sysmanage/sitesetting.js"></script>
</block>
<block name="page_container_dashboard">
    <div class="portlet-body">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom">
            <ul class="nav nav-tabs">
                <volist name="listTabData" id="list">
                    <eq name="list.groupId" value="1">
                        <li class="active">
                            <else />
                        <li>
                    </eq>
                    <a href="#tab_1_{$list.groupId}" data-toggle="tab">{$list.groupNamePix}</a></li>
                </volist>
            </ul>
            <div class="tab-content">
                <volist name="listTabData" id="list">
                    <div <eq name="list.groupId" value="1">class="tab-pane active"<else />class="tab-pane"</eq> id="tab_1_{$list.groupId}">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="{$postAction}" method="post" id="form{$list.groupId}">
                            <volist name="list['config']" id="config">
                                <div class="row-fluid">
                                    <div class="span7">
                                        <div class="control-group">
                                            <label class="control-label bold">{$config.title}</label>
                                            <div class="controls">
                                                <switch name="config.type">
                                                    <case value="0">
                                                        <!--0:数字-->
                                                        <input type="text" class="m-wrap span8" name="config[{$config.name}]" value="{$config.value}">
                                                    </case>
                                                    <case value="1">
                                                        <!--1:字符-->
                                                        <input type="text" class="m-wrap span8" name="config[{$config.name}]" value="{$config.value}">
                                                    </case>
                                                    <case value="2">
                                                        <!--2:文本-->
                                                        <textarea name="config[{$config.name}]" class="m-wrap span12" rows="6">{$config.value}</textarea>
                                                    </case>
                                                    <case value="3">
                                                        <!--3:数组-->
                                                        <textarea name="config[{$config.name}]" class="m-wrap span12" rows="6">{$config.value}</textarea>
                                                    </case>
                                                    <case value="4">
                                                        <!--4:枚举-->
                                                        <select name="config[{$config.name}]" class="m-wrap span4">
                                                            <volist name=":parse_config_attr($config['extra'])" id="vo">
                                                                <option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
                                                            </volist>
                                                        </select>
                                                    </case>
                                                    <case value="5">
                                                        <!--5:图片-->
                                                        <style>
                                                            .kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
                                                                margin: 0;
                                                                padding: 0;
                                                                border: none;
                                                                box-shadow: none;
                                                                text-align: center;
                                                            }
                                                            .kv-avatar .file-input {
                                                                display: table-cell;
                                                                max-width: 220px;
                                                            }
                                                        </style>

                                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img src="{$config.value}" alt="" style="width:200px;height:150px;" />
                                                        </div>
                                                        <div id="kv-error-{$config.name}" style="margin-top:10px;display:none"></div>
                                                        <div id="kv-success-{$config.name}" class="alert alert-success fade in" style="margin-top:10px;display:none"></div>
                                                        <div class="kv-avatar center-block" style="width:200px;">
                                                            <input type="file" name="{$config.name}" id="{$config.name}" multiple=true class="file-loading" />
                                                        </div>
                                                        <script type="text/javascript">
                                                            $("#{$config.name}").fileinput({
                                                                //previewFileIcon: '<i class="icon-file"></i>',
                                                                //allowedPreviewTypes: null,
                                                                //previewFileIconSettings: {
                                                                //    'jpg': '<i class="icon-picture"></i>',
                                                                //    'gif': '<i class="icon-picture"></i>',
                                                                //    'png': '<i class="icon-picture"></i>'
                                                                //},
                                                                initialPreview: [
                                                                ],
                                                                showCaption: false,
                                                                showPreview: true,
                                                                showRemove: false,
                                                                showUpload: true,
                                                                showCancel: true,
                                                                showUploadedThumbs: false,
                                                                overwriteInitial: false,
                                                                autoReplace:true,
                                                                dropZoneEnabled:false,
                                                                layoutTemplates:{
                                                                    actionDelete: '',
                                                                    actionUpload: '',
                                                                    footer:'',
                                                                    preview:'<div class="file-preview {class}">\n' +
//                                                                    '    <div class="close fileinput-remove">&times;</div>\n' +
                                                                    '    <div class="{dropClass}">\n' +
                                                                    '    <div class="file-preview-thumbnails">\n' +
                                                                    '    </div>\n' +
                                                                    '    <div class="clearfix"></div>' +
                                                                    '    <div class="file-preview-status text-center text-success"></div>\n' +
                                                                    '    <div class="kv-fileinput-error"></div>\n' +
                                                                    '    </div>\n' +
                                                                    '</div>'
                                                                },
                                                                removeClass:'btn red',
                                                                uploadClass:'btn green',
                                                                language:'zh',
                                                                uploadUrl: "picUploadHandler", // server upload action
                                                                uploadAsync: true,
                                                                allowedFileExtensions: ['jpg', 'png', 'gif'],
                                                                maxFileCount: 1,
                                                                elErrorContainer: '#kv-error-{$config.name}'
                                                            }).on('filebatchpreupload', function(event, data, id, index) {
                                                                console.log(data);
                                                                alert("上传成功");
                                                                window.location.reload();
                                                            });
                                                        </script>
                                                    </case>
                                                </switch>
                                                <span class="help-block">（{$config.remark}）</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                            </volist>
                            <div class="form-actions">
                                <button type="submit" class="btn green submit-btn ajax-post" target-form="form{$list.groupId}"><i class="icon-ok"></i> 保存</button>
                                <button type="button" onclick="javascript:location.href='{$backAction}';" class="btn"><i class="icon-remove"></i> 取消</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
            </div>
            </volist>
        </div>
    </div>
    <!--END TABS-->
    </div>
</block>
<block name="core-level-js"></block>
<block name="page-level-js">
    <script src="/assets/{$Think.config.DEFAULT_THEME}/js/app.js"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();
            SiteSetting.init();
        });
    </script>
</block>