.header {
    margin-top:40px;
}
.m-box {
    margin-top:20px;
}
.login-box {
    background: url("../img/login/newyear.jpg") #87C6D6 no-repeat 20% 50%;
    padding:40px;
}
.login-form {
    width:400px;
    float:right;
}
.login-form h5 {
    font-size: 22px;
}
.footer {
    margin-top:20px;
    text-align:center;
    color:#999;
}
.footer p {
    font-size:12px;
}
#captcha {
    border-radius:5px;
    cursor:pointer;
    position: absolute;
    z-index: 3;
    left:0;
    top:0;
    height:40px;
    width:150px;
    margin-left:205px;
}
#login-captcha {
    width:195px;
}
.footer p.products a {
    font-size:14px;
    margin:0 8px;
}
.footer p.links a {
    margin-left:10px;
    margin-right:10px;
}